@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

body {
  background-color: #f5f5f5;
}
.container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: black;
  overflow: auto;
}

#logo {
  color: white;
  padding: 1.2% 5% 1.2%;
  background-color: #008000;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 600;
}

#nav ul {
  display: flex;
  list-style-type: none;
  font-weight: 500;
}

#nav ul li {
  padding-left: 1px;
  letter-spacing: 1px;
}

#nav li a {
  color: white;
  text-decoration: none;
  padding: 1.2rem 3.5rem;
}
#nav li a:hover {
  background-color: #008000;
}

.wrapper {
  display: flex;
  width: 95%;
  margin: 2% auto;
}

.rectangles {
  /*flex: 3;*/
  flex-basis: 75%;
  margin-right: 1.25em;
}

.squares-1,
.squares-2,
.squares-3 {
  border: 3px solid black;
  padding: 1.25em;
  display: flex;
}

.squares-1 {
  justify-content: space-around;
  margin-bottom: 1.25em;
}

.squares-2 {
  justify-content: flex-end;
  margin-bottom: 1.25em;
}

.squares-3 {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.squares-1 > div {
  background-color: black;
  color: white;
  width: 6.25em;
  height: 6.25em;
  margin: 0.625em;
}
.squares-2 > div {
  background-color: black;
  color: white;
  width: 6.25em;
  height: 6.25em;
  margin: 0.625em;
}
.squares-3 > div {
  background-color: black;
  color: white;
  width: 6.25em;
  height: 6.25em;
  margin: 0.625em;
}

.sidepanel {
  border: 3px solid black;
  /*flex: 1;*/
  flex-basis: 25%;
  align-items: flex-start;
}

.sidepanel h3 {
  padding: 1.2em 0.5em 0.6em;
  font-weight: 600;
  font-size: 1.25rem;
}

p {
  font-size: 0.875rem;
  padding: 0 0.625em 0 0.625em;
}
