* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}
section div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 2em;
}

.grid__header {
  grid-area: 1/1/span 1/span 6;
}
.grid__menu {
  grid-area: 2/1/span 2/span 1;
}
.grid__main {
  grid-area: 2/2/span 1/span 3;
}
.grid__right {
  grid-area: 2/5/span 1/span 2;
}
.grid__footer {
  grid-area: 3/2/span 1/span 5;
}