* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  width: 1400px;
}

main {
  width: 500px;
  margin: 50px auto;
}

#flags-a {
  padding-top: 50px;
}

#hungary {
  display: none;
}

#flags-a:hover #german {
  display: none;
}

#flags-a:hover #hungary {
  display: block;
}

.black-germ {
  background-color: black;
  height: 100px;
}

.red-germ {
  background-color: #dd0000;
  height: 100px;
}

.yellow-germ {
  background-color: #ffce00;
  height: 100px;
}

.red-hung {
  background-color: #cd2a3e;
  height: 100px;
}

.white-hung {
  background-color: white;
  height: 100px;
}

.green-hung {
  background-color: #436f4d;
  height: 100px;
}

/* RULES FOR FRENCH AND IRISH FLAGS*/

#flags-b {
  padding-top: 50px;
}

#ireland {
  display: none;
}

#flags-b:hover #france {
  display: none;
}

#flags-b:hover #ireland {
  display: block;
}

.blue-fr {
  float: left;
  background-color: #0055a4;
  width: 33.33%;
  height: 300px;
}

.white-b {
  float: left;
  background-color: white;
  width: 33.33%;
  height: 300px;
}

.red-fr {
  float: left;
  background-color: #ef4135;
  width: 33.33%;
  height: 300px;
}

.green-ire {
  float: left;
  background-color: #169b62;
  width: 33.33%;
  height: 300px;
}

.orange-ire {
  float: left;
  background-color: #ff883e;
  width: 33.33%;
  height: 300px;
}
