* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
}

.black {
  background-color: black;
  height: 100px;
}

.red {
  background-color: red;
  height: 100px;
}

.yellow {
  background-color: yellow;
  height: 100px;
}

main {
  width: 500px;
  position: relative;
  top: 25%;
  left: 25%;
}

.flags-a {
  padding-top: 50px;
}

.flags-b {
  padding-top: 50px;
}

.white-bg {
  background-color: white;
  height: 300px;
}
