nav {
  height: 10vh;
  padding: 0 2.5em;
  display: flex;
  background-color: $color-primary;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: $font-display;
  color: $color-white;
  font-size: 2em;
}

.button {
  display: block;
  width: 6.25em;
  padding: 0.625em 1.25em;
  color: $color-white;
  background-color: $color-secondary;
  text-align: center;
  border-radius: 10px;
}

div {
  text-align: center;

  h1 {
    color: $color-primary;
    font-size: 3.125em;
  }

  h2 {
    font-family: $font-display;
    font-size: 1.5625em;
    margin: 1.25em 0;
  }

  a {
    margin: 0 auto;
  }
}
