.navigation {
  height: 10vh;
  padding: 0 2.5em;
  display: flex;
  background-color: $color-primary;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: $font-display;
  color: $color-white;
  font-size: 2em;
}

.button {
  display: block;
  width: 6.25em;
  padding: 0.625em 1.25em;
  color: $color-white;
  background-color: $color-secondary;
  text-align: center;
  border-radius: 10px;
  border: none;

  &--form {
    width: 100%;
    background-color: $color-primary-light;
  }

  &--logout {
    width: 12%;
    color: $color-primary;
    background-color: $color-white;
    border: 2px solid $color-primary-light;
  }
}

.intro {
  text-align: center;

  &__heading {
    color: $color-primary;
    font-size: 3em;
  }

  &__sub-heading {
    font-family: $font-display;
    font-size: 1.5625em;
    margin: 1.25em 0;
  }

  &__button {
    margin: 0 auto;
  }
}

.wave {
  vertical-align: top;
}

.second-wave {
  vertical-align: top;
  transform: rotate(180deg);
}

.form {
  background-color: $color-white;
  padding: 1.25em;
  border-radius: 0.625em;
  display: flex;
  flex-direction: column;

  &__input {
    margin-bottom: 1.25em;
  }
}
