.header {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 30vh;
  background-color: $color-grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thanks {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__thanks--content {
    width: 300px;
  }
}

.footer ul {
  height: 10vh;
  padding: 0 5em;
  display: flex;
  background-color: $color-primary;
  justify-content: space-between;
  align-items: center;

  li {
    color: $color-white;
    list-style-type: none;
  }
}
