.header {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 30vh;
  background-color: $color-grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thanks {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 10vh;
  padding: 0 2.5em;

  align-items: center;
  background-color: $color-primary;

  &__content {
    color: $color-white;
    display: flex;
  }
}
