@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  height: 10vh;
  padding: 0 2.5em;
  display: flex;
  background-color: #28527a;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Dancing Script", cursive;
  color: #fafafa;
  font-size: 2em;
}

.button {
  display: block;
  width: 6.25em;
  padding: 0.625em 1.25em;
  color: #fafafa;
  background-color: #f0a500;
  text-align: center;
  border-radius: 10px;
}

div {
  text-align: center;
}
div h1 {
  color: #28527a;
  font-size: 3.125em;
}
div h2 {
  font-family: "Dancing Script", cursive;
  font-size: 1.5625em;
  margin: 1.25em 0;
}
div a {
  margin: 0 auto;
}

header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}