@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

a:link,
a:visited {
  text-decoration: none;
}

.navigation {
  height: 10vh;
  padding: 0 2.5em;
  display: flex;
  background-color: #28527a;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Dancing Script", cursive;
  color: #fafafa;
  font-size: 2em;
}

.button {
  display: block;
  width: 6.25em;
  padding: 0.625em 1.25em;
  color: #fafafa;
  background-color: #f0a500;
  text-align: center;
  border-radius: 10px;
  border: none;
}
.button--form {
  width: 100%;
  background-color: #55a5f0;
}
.button--logout {
  width: 12%;
  color: #28527a;
  background-color: #fafafa;
  border: 2px solid #55a5f0;
}

.intro {
  text-align: center;
}
.intro__heading {
  color: #28527a;
  font-size: 3em;
}
.intro__sub-heading {
  font-family: "Dancing Script", cursive;
  font-size: 1.5625em;
  margin: 1.25em 0;
}
.intro__button {
  margin: 0 auto;
}

.wave {
  vertical-align: top;
}

.second-wave {
  vertical-align: top;
  transform: rotate(180deg);
}

.form {
  background-color: #fafafa;
  padding: 1.25em;
  border-radius: 0.625em;
  display: flex;
  flex-direction: column;
}
.form__input {
  margin-bottom: 1.25em;
}

.header {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 30vh;
  background-color: #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thanks {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 10vh;
  padding: 0 2.5em;
  align-items: center;
  background-color: #28527a;
}
.footer__content {
  color: #fafafa;
  display: flex;
}