@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #b2edc5;
}

.employeeCard {
  & h2 {
    font-weight: 700;
    font-size: 25px;
    margin-top: 1rem;
  }

  & h3 {
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 14px;
  }

  & img {
    width: 50%;
    border-radius: 50%;
    border: 1px solid #03bfcb;
    padding: 7px;
  }
}

.employeeDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}
