* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px;
  background-color: cornflowerblue;
  padding: 10px;

  div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
  }
}

.grid {
  &__header {
    grid-area: 1 / 1 / span 1 / span 6;
  }

  &__menu {
    grid-area: 2 / 1 / span 2 / span 1;
  }

  &__main {
    grid-area: 2 / 2 / span 1 / span 3;
  }

  &__right {
    grid-area: 2 / 5 / span 1 / span 2;
  }

  &__footer {
    grid-area: 3 / 2 / span 1 / span 5;
  }
}
