* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  margin: 6em auto;
  max-width: 400px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 1.5625em 0 rgba($color: #000000, $alpha: 0.5);

  &__display {
    text-align: right;
    padding: 2.5rem;
    font-size: 2rem;
    background: #1c1c1c;
    color: whitesmoke;
  }

  &__keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 0.125em;

    & > button {
      border: 0;
    }
  }
}

.equalBtn {
  grid-column: 4;
  grid-row: 2 / 6;
  background: #ff9500;
  font-size: 1.5rem;

  &:active,
  &:focus,
  &:hover {
    background: #f28d00;
  }
}

.numBtn {
  padding: 1.75em;
  font-size: 1.25rem;
  background: #f0f0f0;
}

.operatorBtn {
  font-size: 1.5rem;
  padding: 1.5em;
  background: #dcdcdc;
}

.operatorBtn,
.numBtn {
  &:active,
  &:focus,
  &:hover {
    background: #c8c8c5;
  }
}
